{{!< default}}

<header id="site-head">
    <div class="container">
        {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><div class="bloglogo" style="background: url({{@blog.logo}})"></div></a>{{/if}}
        <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <p class="blog-description">{{{@blog.description}}}</p>
    </div>
</header>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <time class="post-meta" datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>