{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <time class="post-meta" datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>